.button-container {
  margin-bottom: 18px;
}

.integral-expansion {
  box-shadow: none !important;

  .mat-expansion-panel-content {
  }

  ::ng-deep .mat-expansion-panel-body {
    padding: 0 30px 1px 0 !important;
  }
}
