<healthe-confirmation-banner
  *ngIf="!stepperCompleted && !inReferralReviewMode"
  [id]="'home-health-review-wizard-fail'"
  [alertType]="alertType.DANGER"
  [title]="
    'You have incompleted tabs in this section. Review incomplete tabs for this referral, complete another section, or make changes.'
  "
  [isVisible]="true"
></healthe-confirmation-banner>
<healthe-confirmation-banner
  *ngIf="stepperCompleted && !inReferralReviewMode"
  [id]="'home-health-review-wizard-success'"
  [alertType]="alertType.SUCCESS"
  [title]="
    'You have completed this section. Review and submit the referral, complete another section, or make changes.'
  "
  [isVisible]="true"
  [showCloseButton]="false"
></healthe-confirmation-banner>
<div
  *ngFor="
    let selectedServiceDetailType of (selectedServiceDetailTypes$ | async)
  "
>
  <div class="spacersmall"></div>
  <ng-container [ngSwitch]="selectedServiceDetailType">
    <div *ngSwitchCase="nursingStepName">
      <healthe-home-health-review-details
        columnCount="9"
        [inReferralReviewMode]="inReferralReviewMode"
        [stepName]="nursingStepName"
        [stepNameForId]="sectionName"
        stepNameLabel="Nursing"
        subServiceLabel="Nursing Services"
      ></healthe-home-health-review-details>
    </div>
    <div *ngSwitchCase="inHomeTherapyStepNames">
      <healthe-home-health-review-details
        columnCount="9"
        [inReferralReviewMode]="inReferralReviewMode"
        [stepName]="inHomeTherapyStepNames"
        [stepNameForId]="sectionName"
        stepNameLabel="In-Home Therapy"
        subServiceLabel="In-Home Therapy Services"
      ></healthe-home-health-review-details>
    </div>
    <div *ngSwitchCase="aidesStepName">
      <healthe-home-health-review-details
        columnCount="9"
        [inReferralReviewMode]="inReferralReviewMode"
        [stepName]="aidesStepName"
        [stepNameForId]="sectionName"
        stepNameLabel="Aides"
        subServiceLabel="Aides Services"
      ></healthe-home-health-review-details>
    </div>
    <div *ngSwitchCase="infusionStepName">
      <healthe-home-health-review-details
        columnCount="9"
        [inReferralReviewMode]="inReferralReviewMode"
        [stepName]="infusionStepName"
        [stepNameForId]="sectionName"
        stepNameLabel="Infusion"
        subServiceLabel="Infusion Services"
      ></healthe-home-health-review-details>
    </div>
    <div *ngSwitchCase="otherStepName">
      <healthe-home-health-review-details
        columnCount="9"
        [inReferralReviewMode]="inReferralReviewMode"
        [stepName]="otherStepName"
        [stepNameForId]="sectionName"
        stepNameLabel="Other"
        subServiceLabel="Other Services"
      ></healthe-home-health-review-details>
    </div>
  </ng-container>
  <div class="spacersmall"></div>
  <mat-divider [inset]="true"></mat-divider>
</div>

<div class="spacersmall"></div>

<!-- PRESCRIBER INFO -->
<div fxLayout="row" fxLayoutGap="35px">
  <div fxFlex="0 0 calc(33.33% -35px)">
    <div class="overhead-label" id="{{stepName}}--review-prescriberName-label">
      ORDERING PRESCRIBER NAME
    </div>
    <div class="standard-text" id="{{stepName}}--review-prescriberName">
      {{ sharedForm.controls['prescriberName'].value }}
    </div>
  </div>
  <div fxFlex="0 0 calc(33.33% -35px)">
    <div class="overhead-label" id="{{stepName}}--review-prescriberPhone-label">
      ORDERING PRESCRIBER PHONE
    </div>
    <div class="standard-text" id="{{stepName}}--review-prescriberPhone">
      {{ sharedForm.controls['prescriberPhone'].value }}
    </div>
  </div>
  <div fxFlex="0 0 calc(33.33% -35px)">
    <div
      class="overhead-label"
      id="{{stepName}}--review-prescriberAddress-label"
    >
      ORDERING PRESCRIBER ADDRESS
    </div>
    <div class="standard-text" id="{{stepName}}--review-prescriberAddress">
      {{ sharedForm.controls['prescriberAddress'].value }}
    </div>
  </div>
</div>

<div class="spacersmall"></div>
<mat-divider [inset]="true"></mat-divider>
<div class="spacersmall"></div>

<!-- VENDOR SECTION -->
<healthe-review-section-header
  sectionTitle="Vendor Information"
  [sectionName]="sectionName"
  columnCount="5"
  [step]="stepName"
  [offsetForNonSelectedServiceDetailTypes]="0"
></healthe-review-section-header>
<div fxLayout="row wrap" fxLayoutGap="30px grid">
  <div *ngFor="let vendorsByType of (vendorFormValues$ | async | keyvalue)">
    <span
      class="overhead-label"
      id="{{stepName}}-review-{{vendorsByType.key}}-label"
      >VENDORS</span
    >
    <div *ngFor="let vendorName of vendorsByType.value; let index$ = index">
      <span id="{{stepName}}-review-{{vendorsByType.key}}-value-{{index$}}">
        {{ index$ + 1 }} - {{ vendorName.name }}
      </span>
    </div>
  </div>
</div>

<div class="spacersmall"></div>

<!-- DOCUMENTS SECTION -->
<p style="margin: 0">
  <healthe-review-section-header
    columnCount="5"
    [step]="documentsStepName"
    [sectionTitle]="'Documents'"
    [sectionName]="sectionName"
    [offsetForNonSelectedServiceDetailTypes]="1"
  ></healthe-review-section-header>
</p>
<div
  *ngFor="
    let document of (selectedDocuments$ | async)['documents'];
    index as index
  "
  id="{{sectionName}}-review-documents-{{index}}-link"
>
  {{ document.fileName }}
</div>

<div class="spacermedium"></div>

<!-- NOTES -->
<div *ngIf="!inReferralReviewMode">
  <span class="overhead-label" id="homeHealth-review-wizard-notes-label">
    NOTES (optional)
  </span>
  <mat-form-field>
    <textarea
      matInput
      placeholder="Enter notes"
      id="homeHealth-review-wizard-notes-input"
      [formControl]="notesForm"
    >{{referralLevelNotes$ | async}}</textarea>
  </mat-form-field>
</div>
<div *ngIf="inReferralReviewMode">
  <p
    style="margin: 0;"
    id="homeHealth-review-note-label"
    class="overhead-label"
  >
    NOTES
  </p>
  <div id="homeHealth-review-note" class="standard-text">
    {{ referralLevelNotes$ | async }}
  </div>
</div>
