<mat-card>
  <div class="authorization--card--inset">
    <header
      class="authorization--card--inset--header"
      fxLayout="row"
      fxLayoutAlign="space-between"
    >
      <h3
        class="text-primary"
        id="authorization--card--inset--header--title--{{$index}}"
      >
        <img
          src="assets/img/make-a-referral/diagnostics/mri.PNG"
          class="mri-img ng-star-inserted"
          id="authorization--card--inset--header--image--{{$index}}"
        />

        {{ authorization.authorizationUnderReview.categoryLongDesc }}
      </h3>
      <button
        [disabled]="detailNoteFormControl.disabled"
        id="authorization--card--inset--header--viewNotes--{{$index}}"
        mat-stroked-button
        class="secondary-button"
        (click)="
          viewNotes(
            authorization.authorizationUnderReview?.noteList,
            authorization
          )
        "
      >
        <fa-icon [icon]="faStickyNote" style="padding-right: 5px"></fa-icon>
        VIEW/EDIT NOTES
      </button>
    </header>
    <healthe-reasons-banner
      [reasons]="authorization.reasonsReviewNeeded"
    ></healthe-reasons-banner>
    <healthe-action-form
      [fusionAuth]="authorization"
      [index]="$index"
      [fusionAuthorizationReasons$]="fusionAuthorizationReasons$"
      [formGroup]="actionFormGroup"
    ></healthe-action-form>
    <healthe-fusion-narrative-text
      [fusionAuth]="authorization"
      [narrativeTextFormGroup]="narrativeTextFormGroup"
      [authNarrativeConfig]="authNarrativeConfig"
    ></healthe-fusion-narrative-text>
    <div class="spacersmall"></div>
    <healthe-summary-details
      [fusionAuth]="authorization"
      [icdCodesFormControl]="icdCodesFormControl"
    >
    </healthe-summary-details>
  </div>
  <div class="spacersmall"></div>
  <!-- Body Parts -->
  <healthe-auth-body-parts
    [fusionAuth]="authorization"
    [fusionAuthIndex]="$index"
    [authBodyPartsFormArray]="authBodyPartsFormArray"
  ></healthe-auth-body-parts>
  <div class="spacersmall"></div>
  <!-- Details Table -->
  <healthe-auth-details-table
    [columnDefinitions]="columnDefinitions$ | async"
    [tableDataSoruce]="tableDataSource$ | async"
  ></healthe-auth-details-table>
</mat-card>
