<div class="spacersmall"></div>
<div [formGroup]="formGroup" class="matFormFieldWidthFix">
  <div fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="35px">
    <div>
      <span
        class="overhead-label"
        id="lodging-destinationField-label-{{idIndex}}"
        >DESTINATION<span class="required-text">*</span></span
      >
      <mat-form-field class="show-one-error">
        <healthe-places-autocomplete
          formControlName="destination"
          [matTooltip]="destination.value"
          placeholder="City or Airport"
          #destination
          type="BOTH"
          id="lodging-destinationField-input-{{idIndex}}"
        ></healthe-places-autocomplete>
        <mat-error
          id="lodging-destinationField-error-required-{{idIndex}}"
          *ngIf="formGroup.controls['destination'].hasError('required')"
          >Destination cannot be empty
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <span
        class="overhead-label"
        id="lodging-numberOfGuestsField-label-{{idIndex}}"
        ># OF TRAVELERS<span class="required-text">*</span></span
      >
      <mat-form-field>
        <mat-select
          formControlName="numberOfGuests"
          id="lodging-numberOfGuestsField-input-{{idIndex}}"
          class="detailed-lodging--select-width"
        >
          <mat-option
            *ngFor="let count of numberOfGuestsOptions"
            [value]="count"
            id="lodging-numberOfGuestsField-option-{{count}}-{{idIndex}}"
            >{{ count }}</mat-option
          >
        </mat-select>
        <mat-error
          id="lodging-numberOfGuests-error-required-{{idIndex}}"
          *ngIf="formGroup.controls['numberOfGuests'].hasError('required')"
          >Number of Travelers cannot be empty
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <span
        class="overhead-label"
        id="lodging-numberOfRoomsField-label-{{idIndex}}"
        ># OF ROOMS</span
      >
      <mat-form-field>
        <mat-select
          formControlName="numberOfRooms"
          id="lodging-numberOfRoomsField-input-{{idIndex}}"
          class="detailed-lodging--select-width"
        >
          <mat-option
            *ngFor="let count of numberOfRoomsOptions"
            [value]="count"
            id="lodging-numberOfRoomsField-option-{{count}}-{{idIndex}}"
            >{{ count }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>

    <div>
      <span
        class="overhead-label"
        id="lodging-priceOfRoomField-label-{{idIndex}}"
        >PRICE OF ROOM</span
      >
      <mat-form-field>
        <mat-select
          formControlName="priceOfRoom"
          id="lodging-priceOfRoomField-input-{{idIndex}}"
          class="detailed-lodging--select-width"
        >
          <mat-option
            *ngFor="let price of priceOfRoomOptions"
            [value]="price"
            id="lodging-priceOfRoomField-option-{{price}}-{{idIndex}}"
            >{{ price }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="spacersmall"></div>
  <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="35px">
    <div>
      <span
        class="overhead-label"
        id="lodging-checkInDateField-label-{{idIndex}}"
        >CHECK IN DATE<span class="required-text">*</span></span
      >
      <mat-form-field class="show-one-error">
        <healthe-datepicker
          formControlName="checkInDate"
          id="lodging-checkInDate-input-{{idIndex}}"
          (blur)="updateValidityOnBlur()"
        >
        </healthe-datepicker>
        <mat-error
          id="lodging-checkInDate-error-required-{{idIndex}}"
          *ngIf="formGroup.controls['checkInDate'].hasError('required')"
          >Check In Date cannot be empty
        </mat-error>
        <mat-error
          id="lodging-checkInDate-error-checkinDateAfterCheckoutDate-{{idIndex}}"
          *ngIf="
            formGroup.controls['checkInDate'].hasError(
              'checkinDateAfterCheckoutDate'
            )
          "
          >Check In date should be before Check Out date
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <span
        class="overhead-label"
        id="lodging-checkOutDateField-label-{{idIndex}}"
        >CHECK OUT DATE<span class="required-text">*</span></span
      >
      <mat-form-field class="show-one-error">
        <healthe-datepicker
          formControlName="checkOutDate"
          id="lodging-checkOutDate-input-{{idIndex}}"
          (blur)="updateValidityOnBlur()"
        >
        </healthe-datepicker>
        <mat-error
          id="lodging-checkOutDate-error-required-{{idIndex}}"
          *ngIf="formGroup.controls['checkOutDate'].hasError('required')"
          >Check Out Date cannot be empty
        </mat-error>
        <mat-error
          id="lodging-checkOutDate-error-checkinDateAfterCheckoutDate-{{idIndex}}"
          *ngIf="
            formGroup.controls['checkOutDate'].hasError(
              'checkinDateAfterCheckoutDate'
            )
          "
          >Check In date should be before Check Out date
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <span class="overhead-label" id="lodging-numberOfNights-label-{{idIndex}}"
        >NUMBER OF NIGHTS</span
      >
      <p id="lodging-numberOfNights">{{ numberOfNights }}</p>
    </div>
  </div>
  <div class="spacersmall"></div>
  <div fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="35px">
    <div class="appointmentInfo">
      <healthe-appointment-info
        [appointmentData]="authData"
        [sectionName]="sectionName"
      ></healthe-appointment-info>
    </div>

    <div
      *ngIf="false === referralAuthorizationItem.isAddedItem"
      class="secondary"
      style="cursor: pointer"
      id="lodging-relatedAppointments-button-{{idIndex}}"
      fxLayout="row"
      fxLayoutAlign="start center"
      (click)="viewRelatedAppointments()"
    >
      <fa-icon
        [icon]="faNotesMedical"
        style="margin-right: 10px; font-size: 22px"
        id="lodging-relatedAppointments-button-icon-{{idIndex}}"
      ></fa-icon>
      <div>View Related<br />Appointments</div>
    </div>
  </div>
</div>
