registry=https://dev-nexus.hestest.com/repository/npm-public
//dev-nexus.hestest.com/repository/npm-public/:_authToken=NpmToken.fcbc25a5-5f04-3899-a215-dde2cb6d1a20
;registry=https://registry.npmjs.org/

; Font Awesome
@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=1A443CE7-88D2-457E-900F-34B02090B4D2
