.lomn-step_title {
  display: inline-block;
}

.lomn-step_title_help {
  font-style: italic;
  margin-left: 10px;
  font-size: small;
}

.input-style {
  width: 335px;
}

.input-style-small {
  width: 150px;
}
