@import 'variables';

.group-label {
  font-weight: 500;
  line-height: 15px;
  color: $gray-400;
  font-size: 12px;
  margin-bottom: 0;
  text-transform: uppercase;
  margin-right: 10px;
}

.rowItem {
  height: 30px;
  white-space: nowrap;
}

.summaryBarContent {
  overflow-x: auto;
}

.summaryBarContent .overhead-label {
  white-space: nowrap;
}
