.create-new-auth-dialog-title {
  height: 65px;

  .closeX-button {
    position: relative;
    top: -7px;
  }
}

.create-new-auth-dialog-content {
  margin-top: 20px !important;

  .member-id-input {
    width: 200px;
  }
}

.create-new-auth-actions {
  padding: 20px;
}
