<!-- Header -->
<div fxLayout="row" fxLayoutAlign="space-between center">
  <h1 id="pending-referrals-title" class="pending-referrals__header">
    Pending Referrals
  </h1>
  <healthe-user-menu
    id="userMenu"
    style="padding-right: 1.5rem;"
  ></healthe-user-menu>
</div>
<div class="spacertiny"></div>
<div class="pending-referrals__search-box">
  <healthe-error-banner
    [errorMessages]="errorsMessages$ | async"
    bannerTitle="Search Results Errors"
  ></healthe-error-banner>
  <healthe-referral-search-box
    [username]="username"
    [defaultStatus]="defaultStatus"
    [defaultServiceType]="defaultServiceType"
    [defaultAssignedAdjuster]="defaultAssignedAdjuster"
    [serviceTypes]="serviceTypes$ | async"
    [users]="users$ | async"
    [customers]="customers$ | async"
    [form]="searchformGroup"
    (searchForm)="search($event)"
    [helperText]="searchHelperText"
    title="Pending Referrals Search"
    [navSearchState$]="navSearchState$"
  ></healthe-referral-search-box>

  <healthe-referral-search-table
    [results]="results$ | async"
    [isLoading$]="isLoadingResults$"
    [searchTableConfig]="searchTableConfig"
  ></healthe-referral-search-table>
</div>
