<div
  fxLayout="row"
  fxLayoutAlign="space-between center"
  mat-dialog-title
  style="height: 57px;"
>
  <span id="AddDocument--title">Document(s)</span>
  <button mat-icon-button mat-dialog-close id="AddDocument--header-closeButton">
    <i class="fal fa-times modal-close-widget"></i>
  </button>
</div>

<mat-dialog-content style="height: 300px; margin-top:0px; margin-bottom: 0;">
  <table
    mat-table
    style="min-width: 500px"
    *ngIf="!isLoading"
    [dataSource]="tableDataSource"
  >
    <ng-container matColumnDef="fileName">
      <th
        mat-header-cell
        id="auth-view-documents-header-name"
        class="healthe-table-cell tableHeader"
        *matHeaderCellDef
        style="width: 200px;"
      >
        FILE NAME
      </th>
      <td
        mat-cell
        class="healthe-table-cell"
        [id]="'view-documents-cell-name-' + i"
        *matCellDef="let data; let i = index"
      >
        <span [matTooltip]="data.fileName">
          {{ i + 1 }}.
          <span
            class="fake-link"
            (click)="downloadFile(i, data.fileURL)"
            [matTooltip]="data.fileName"
          >
            {{ data.fileName }}</span
          ></span
        >
      </td>
    </ng-container>

    <ng-container matColumnDef="submittedBy">
      <th
        mat-header-cell
        id="auth-view-documents-header-submittedBy"
        class="healthe-table-cell tableHeader"
        *matHeaderCellDef
        style="width: 150px;"
      >
        SUBMITTED BY
      </th>
      <td
        mat-cell
        class="healthe-table-cell"
        [id]="'view-documents-cell-submittedBy-' + i"
        *matCellDef="let data; let i = index"
      >
        <span [matTooltip]="data.submittedBy">{{ data.submittedBy }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="submitDate">
      <th
        mat-header-cell
        id="auth-view-documents-header-submitDate"
        class="healthe-table-cell tableHeader"
        *matHeaderCellDef
        style="width: 50px;"
      >
        DATE RECEIVED
      </th>
      <td
        mat-cell
        class="healthe-table-cell"
        [id]="'view-documents-cell-submitDate-' + i"
        *matCellDef="let data; let i = index"
      >
        <span [matTooltip]="data.submitDate">{{ data.submitDate }}</span>
      </td>
    </ng-container>

    <tr
      mat-header-row
      style="height: 50px !important;"
      *matHeaderRowDef="tableColumns"
    ></tr>
    <tr mat-row *matRowDef="let row; columns: tableColumns; let i = index"></tr>
  </table>

  <ng-container
    *ngIf="(!this.documents || this.documents.length === 0) && !isLoading"
  >
    <p
      class="standard-text"
      style="text-align:center"
      id="auth-view-serviceScheduled-no-data"
    >
      No documents available
    </p></ng-container
  >

  <ng-container *ngIf="isLoading" style="height: 300px;">
    <div class="spacerlarge"></div>
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="35px">
      <mat-spinner
        [diameter]="55"
        id="AuthorizatioInformation-loadingResultsSpinner"
      ></mat-spinner>
      <h2 id="AuthorizatioInformation-loadingResultsMessage">
        Loading Documents...
      </h2>
    </div>
  </ng-container>
</mat-dialog-content>

<mat-dialog-actions
  fxLayout="row"
  fxLayoutAlign="end start"
  style="padding-right: 20px; padding-left: 20px;"
>
  <button
    class="primary-button"
    mat-flat-button
    mat-dialog-close
    id="AddDocument-closeButton"
  >
    CLOSE
  </button>
</mat-dialog-actions>
