::ng-deep
  .mat-dialog-container
  .other-medication-search-modal
  .mat-dialog-content {
  margin: unset !important;
  padding: unset !important;
}

.modal-padding {
  padding-left: 20px;
  padding-right: 20px;
}

.mat-column-select {
  width: 60px;
}

.mat-column-ndc {
  width: 130px;
}

.mat-column-strength {
  width: 130px;
}
