<div class="spacersmall"></div>
<mat-card *ngIf="(isLoading$ | async) || (hasErrors$ | async)">
  <mat-card-content>
    <ng-container *ngIf="!(hasErrors$ | async)">
      <div class="spacersmall"></div>
      <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="35px">
        <mat-spinner
          [diameter]="55"
          id="authorization-history--loading-spinner"
        ></mat-spinner>
        <h2 id="authorization-history--loading-verbiage">
          Loading Clinical History...
        </h2>
      </div>
    </ng-container>

    <ng-container *ngIf="!(isLoading$ | async) && (hasErrors$ | async)">
      <div fxLayout="column" fxLayoutAlign="center center">
        <img alt="No Data Indicator" src="assets/img/NoDataIcon.svg" />
        <!-- TODO: Figure out error verbiage -->

        <p class="standard-text">Something went wrong...</p>
      </div>
    </ng-container>
  </mat-card-content></mat-card
>

<mat-card
  class="clinical-history-detail--inset"
  *ngFor="let detail of (clinicalHistory$ | async); index as i"
>
  <mat-card-title
    class="clinical-history-detail--inset--title--{{i}}"
    fxLayout="row"
    fxLayoutAlign="start center"
  >
    <healthe-detail-icon
      [selectionType]="getDetailIcon(detail.title)"
    ></healthe-detail-icon>
    <span> Clinical History - {{ detail.title }} </span>
    <span fxFlex="1 1 auto"></span>

    <div>
      <div style="height: 75px;">
        <button
          mat-flat-button
          style="width: 120px; margin-top: 21px"
          id="clinical-history-detail--inset--exportButton--{{i}}"
          class="primary-button"
          (click)="setOpenUntilClose(exportMenu)"
          [mat-menu-trigger-for]="exportMenu"
        >
          EXPORT
          <fa-icon class="inline-right-icon" [icon]="exportMenuIcon"></fa-icon>
        </button>
        <mat-menu #exportMenu [overlapTrigger]="false" yPosition="below">
          <button
            *ngFor="let exportOption of exportDropdownOptions"
            mat-menu-item
            id="clinical-history-detail--inset--{{exportOption.text}}{{i}}"
            (click)="exportOption.action(i)"
          >
            {{ exportOption.text }}
          </button>
        </mat-menu>
      </div>
    </div>
  </mat-card-title>

  <mat-card-content fxLayout="row">
    <!-- Header Info -->
    <div fxLayout="column" fxLayoutGap="16px" fxFlex="20%">
      <div fxLayout="column">
        <span class="overhead-label">ANTICIPATED DISCHARGE DATE</span>
        <span>{{ detail.anticipatedDischargeDate || 'N/A' }}</span>
      </div>

      <div fxLayout="column">
        <span class="overhead-label">DISCHARGE DATE</span>
        <span>{{ detail.dischargeDate || 'N/A' }}</span>
      </div>

      <div fxLayout="column">
        <span class="overhead-label">MD VISIT SCHEDULE DATE</span>
        <span>{{ detail.mdVisitScheduleDate || 'N/A' }}</span>
      </div>
    </div>
    <!-- Header Table -->
    <div fxFlex="80%">
      <table
        mat-table
        [dataSource]="detail.peerReview"
        class="clinical-history-detail--table"
      >
        <ng-container matColumnDef="peerReviewDate">
          <th mat-header-cell *matHeaderCellDef>PEER REVIEW</th>
          <td mat-cell *matCellDef="let element">
            {{ element.peerReviewDate }}
          </td>
        </ng-container>

        <ng-container matColumnDef="reviewer">
          <th mat-header-cell *matHeaderCellDef>REVIEWER</th>
          <td mat-cell *matCellDef="let element">{{ element.reviewer }}</td>
        </ng-container>

        <ng-container matColumnDef="decision">
          <th mat-header-cell *matHeaderCellDef>DECISION</th>
          <td mat-cell *matCellDef="let element">{{ element.decision }}</td>
        </ng-container>

        <tr
          class="clinical-history-detail--table--header-row"
          mat-header-row
          *matHeaderRowDef="peerReviewDisplayColumns"
        ></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: peerReviewDisplayColumns"
        ></tr>
      </table>

      <div
        *ngIf="!detail.peerReview || detail.peerReview.length === 0"
        style="margin-top: 16px;"
        fxLayout="column"
        fxLayoutAlign="center center"
      >
        <img
          style="width: 50px;"
          alt="No Data Indicator"
          src="assets/img/NoDataIcon.svg"
        />

        <p class="standard-text">No peer review data</p>
      </div>
    </div>
  </mat-card-content>
  <div class="clinical-history-detail--bodyParts">
    <ng-container *ngFor="let bodyPartEval of detail.partsOfBody">
      <mat-expansion-panel expanded="true" #expansionPanel>
        <mat-expansion-panel-header
          fxLayout="row"
          [collapsedHeight]="''"
          [expandedHeight]="''"
        >
          <div>
            <h3>Clinical Measurements</h3>
            <h4 class="text-secondary ">
              {{ bodyPartEval.title }}
              {{ bodyPartEval.subTitle ? ' - ' + bodyPartEval.subTitle : '' }}
            </h4>
          </div>
          <div fxFlex="1 1 auto"></div>
          <span
            fxFlexAlign="center"
            style="padding-right: 16px"
            class="text-secondary"
            >{{ expansionPanel.expanded ? 'COLLAPSE' : 'EXPAND' }}</span
          >
        </mat-expansion-panel-header>
        <table
          *ngIf="bodyPartEval.columns && bodyPartEval.tableData"
          mat-table
          [dataSource]="bodyPartEval.tableData"
        >
          <ng-container
            *ngFor="
              let col of sortColumns(bodyPartEval.columns);
              index as $index
            "
            [matColumnDef]="col.columnName"
          >
            <th
              mat-header-cell
              *matHeaderCellDef
              class="clinical-history-detail--bodyParts--column-header"
            >
              {{ $index == 1 ? 'INITIAL\n' : '' }}
              {{ $index == 2 ? 'MOST RECENT\n' : '' }} {{ col.columnLabel }}
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element[col.columnName] }}
            </td>
          </ng-container>
          <tr
            mat-header-row
            *matHeaderRowDef="
              getDisplayColumns(sortColumns(bodyPartEval.columns))
            "
          ></tr>
          <tr
            mat-row
            class="clinical-history-detail--bodyParts--table-row"
            *matRowDef="
              let row;
              columns: getDisplayColumns(sortColumns(bodyPartEval.columns))
            "
          ></tr>
        </table>

        <div
          *ngIf="!bodyPartEval.columns && !bodyPartEval.tableData"
          fxLayout="column"
          fxLayoutAlign="center center"
        >
          <img alt="No Data Indicator" src="assets/img/NoDataIcon.svg" />

          <p class="standard-text">No evaluation data for this body part</p>
        </div>
      </mat-expansion-panel>

      <div class="spacersmall"></div>
    </ng-container>
  </div>
</mat-card>
<div class="spacersmall"></div>
<healthe-clinical-history-footer></healthe-clinical-history-footer>
