@import 'variables';

.mat-dialog-title {
  box-sizing: content-box !important;
}

.payee-modal-bodyClass {
  overflow: auto;
}

.payee-modal-title {
  color: $primary;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  margin-bottom: 30px;
}

.payee-modal-title-icon {
  font-size: 1.75em;
}

.payee-modal-actions {
  padding: 0 15px;
  margin-bottom: 25px;
}
