@import 'variables';
@import 'text';

.input-information-text {
  font-style: italic;
  color: $gray-400;
}

.wheelchair-icons {
  @extend .inline-left-icon;
  font-size: 1.33333em; // fa-2x
  position: relative;
  left: 3px;
}
