@import 'variables';

// All the !important-s are needed because whoever originally did the expansion panel styling must have had a bad day and
// just wanted to get things over with...

::ng-deep .assign-first-fill-notes-card {
  border: 1px solid $secondary;

  fa-icon.assign-first-fill-notes-card-panel_icon {
    font-size: 25px !important;
    padding-right: 15px;
    color: $secondary;
  }

  &--see-notes {
    margin-right: 15px;
    font-weight: 600;
    align-self: center;
  }

  .textarea-input-count {
    margin-top: 5px;
  }
}

.tag-secondary {
  background-color: $secondary;
  height: 10px;
  margin-right: 15px;
  align-self: center;
}

.textarea-input-count {
  font-style: italic;
  font-size: 12px;
  margin-top: 10px;
  color: $gray-700;
}
