@import 'variables';
:host {
}

.healthe-kinect-textarea {
  &__container {
    background-color: $gray-100;
    padding: 16px;
  }
  &__input.mat-input-element {
    resize: none;
    height: 100px;
  }
  &__character-hint {
    color: $gray-400;
    font-size: 10px;
  }
}
