.title-container {
  margin-top: 5px !important;
}

.button-container {
  margin-top: 20px;
  padding: 0;
  margin-bottom: 20px;
  justify-content: flex-end;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.PmExtension-modal-authtitle {
  margin-top: 0 !important;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .ieDatePickerFix {
    margin-right: 90px !important;
  }
}
