@import 'variables';

.nav-search-box {
  &__search-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  &__filter {
    padding-top: 1rem;
  }
  &__search-button {
    margin-top: 18px;
    float: right;
  }
  &__mat-expansion {
    box-shadow: none !important;
    .mat-expansion-panel-body {
      padding: 1rem 30px 1px 0 !important;
    }
  }
  &__header-text-box {
    padding-bottom: 1rem;
  }
  &__header-text-box-error {
    padding-bottom: 15px;
  }
  &--danger {
    color: $danger;
    font-weight: bold;
  }
  &--padding-left {
    padding-left: 10px;
  }
  &--uppercase {
    text-transform: uppercase;
  }
}
