<div id="information-modal-{{modalData.titleString}}-modal">
  <div fxLayout="row" fxLayoutAlign="space-between center" mat-dialog-title>
    <span id="information-modal-{{modalData.titleString}}-title">
      {{ modalData.titleString }}
    </span>
    <button
      mat-icon-button
      [mat-dialog-close]="true"
      id="information-modal-header-widget"
    >
      <i class="fal fa-times modal-close-widget"></i>
    </button>
  </div>
  <mat-dialog-content
    id="information-modal-{{modalData.titleString}}-body"
    [innerHTML]="safeHTML"
  ></mat-dialog-content>
  <div
    mat-dialog-actions
    fxLayout="row"
    fxLayoutAlign="end"
    fxLayoutGap="15px"
    style="padding-right: 15px"
  >
    <button
      id="information-modal-{{modalData.titleString}}-affirm"
      mat-flat-button
      [ngClass]="modalData.affirmClass"
      [mat-dialog-close]="true"
    >
      {{ modalData.affirmString | uppercase }}
    </button>
  </div>
</div>
