<div
  style="position: relative"

>
  <div *ngIf="isSubmitting" class="loading-spinner-overlay">
    <div>
      <mat-spinner [diameter]="55"></mat-spinner>
      <h3>Sending...</h3>
    </div>
  </div>
  <div mat-dialog-title class="modal-title"
       style="display: flex; flex-flow: row nowrap; justify-content: space-between;height: 40px">
    <div>{{title}}</div>
    <fa-icon [mat-dialog-close]="true" [icon]="faTimes"></fa-icon>
  </div>
  <div>

    <mat-card-content [formGroup]="claimantVerificationForm">
      <mat-card class="mat-card-shadow">
        <mat-card-content style="padding: 10px;">
          <div class="section-title">Claimant Contact Information</div>
          <div class="spacersmall"></div>
          <div>Note: This information is prepopulated from the Claimant’s
            Eligibility record. This data can be updated and will only be used
            for verification and texting purposes when the Claimant is
            registering for the Healthesystems Mobile App. Updating information
            in this window will not update the Eligibility record; any
            discrepancies should be corrected directly within your Claim System.
          </div>

          <div class="spacersmall"></div>
          <mat-radio-group formControlName="defaultRadioButton"

                           style="display: flex; flex-flow: row wrap; justify-content: space-between; width: auto">
            <mat-radio-button value="email">
              <mat-form-field><input matInput formControlName="email"
                                     placeholder="Enter Email Address"
                                     class="radio-input">
                <mat-error class="enableLongMatErrors"
                           *ngIf="claimantVerificationForm.get('email').invalid">
                  Please enter a valid email address
                </mat-error>
              </mat-form-field>
            </mat-radio-button>
            <mat-radio-button value="phoneNumber">
              <mat-form-field><input matInput formControlName="phoneNumber"
                                     placeholder="Enter Mobile Number"
                                     mask="000-000-0000"
                                     class="radio-input">
                <mat-error class="enableLongMatErrors"
                           *ngIf="claimantVerificationForm.get('phoneNumber').invalid">
                  Please enter a valid phone number
                </mat-error>
              </mat-form-field>
            </mat-radio-button>
          </mat-radio-group>

          <div class="spacermedium"></div>
          <mat-checkbox #confirmCheckbox>I have confirmed the phone number
            and/or email address
            is valid and is authorized to receive communications.
          </mat-checkbox>
          <div class="spacermedium"></div>
          <div
            style="display: flex; flex-flow: row wrap; justify-content: space-between;">
            <button mat-flat-button class="info-button"
                    [mat-dialog-close]="true">CANCEL
            </button>
            <div
              class='healthe-mobile-invite-modal__actions'>
              <button mat-flat-button class="secondary-button"
              (click)="downloadHelpPDF()"        >VIEW APP HOW-TO DOCUMENTS
              </button>
            <button [disabled]="!confirmCheckbox.checked"
                    mat-flat-button class="primary-button"
                    (click)="sendInvite()">SEND INVITE
            </button>
            </div>
          </div>
          <div *ngIf="submitResultMessages" [ngClass]="submitResultClass" >
            <div class="spacersmall"></div>
            <div class='healthe-mobile-invite-modal__messages'>
            <div *ngFor="let message of submitResultMessages">{{message}}</div>
            </div>
          </div>


        </mat-card-content>
      </mat-card>

      <div class="spacersmall"></div>
      <mat-card class="mat-card-shadow">
        <mat-card-content style="padding: 10px;">
          <div class="section-title">Invitation History</div>
          <div class="spacersmall"></div>
          <div style="max-height: 200px; overflow: auto">
            <table mat-table [dataSource]="invitationHistoryTableData"
                   *ngIf="invitationHistoryTableData && invitationHistoryTableData.length > 0"
                   style="width: 100%;">

              <ng-container matColumnDef="eventDateTime">
                <th mat-header-cell *matHeaderCellDef> DATE</th>
                <td mat-cell *matCellDef="let element" matTooltip="{{element.eventDateTime | date:'MM/dd/yyyy'}}" > {{element.eventDateTime | date:'MM/dd/yyyy'}} </td>
              </ng-container>

              <ng-container matColumnDef="sentTo">
                <th mat-header-cell *matHeaderCellDef> SENT TO</th>
                <td mat-cell *matCellDef="let element" matTooltip="{{element.sentTo}}"> {{element.sentTo}} </td>
              </ng-container>

              <ng-container matColumnDef="sentBy">
                <th mat-header-cell *matHeaderCellDef> SENT BY</th>
                <td mat-cell *matCellDef="let element" matTooltip="{{element.sentBy}}"> {{element.sentBy}} </td>
              </ng-container>

              <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef> DESCRIPTION</th>
                <td mat-cell
                    *matCellDef="let element" matTooltip="{{element.description}}"> {{element.description}} </td>
              </ng-container>

              <tr mat-header-row
                  *matHeaderRowDef="invitationHistoryTableDisplayColumns"></tr>
              <tr mat-row
                  *matRowDef="let row; columns: invitationHistoryTableDisplayColumns;"></tr>

            </table>
            <div  *ngIf="invitationHistoryTableData && invitationHistoryTableData.length === 0">{{historyTableErrorMessage}}</div>
          </div>
        </mat-card-content>
      </mat-card>

    </mat-card-content>
  </div>
</div>
