@import 'variables';

.footer {
  left: 0;
  right: 0;
  bottom: 10px;
  margin-top: 20px;

  position: sticky;
  box-shadow: 0 0 5px 0 rgb(52 58 64 / 26%) !important;
  position: sticky;
}
.actionBarButtonAdjust {
  margin-top: 21px;
}
