<div *ngIf="isServiceSuccessfullySubmitted$ | async">
  <healthe-confirmation-banner [alertType]="alertType.SUCCESS"
                               [showCloseButton]="false"
                               [idSufix]="serviceName"
                               title="You have successfully submitted this service referral"
                               [isVisible]="true"></healthe-confirmation-banner>
  <div style="padding: 0 20px 0 20px;">
    <healthe-diagnostics-review-wizard
      [id]="MAKE_A_REFERRAL_SECTION_ID + serviceName"
      [inReferralReviewMode]="true"
    ></healthe-diagnostics-review-wizard>
    <div class="spacersmall"></div>
    <mat-divider></mat-divider>
    <div class="spacersmall"></div>
    <div
      style="display: flex; flex-flow: row nowrap; justify-content: flex-end">
      <button
        mat-flat-button
        class="primary-button"
        [id]="'referral-review-copyToClipboard-button-' + serviceName"
        (click)="copyToClipboard()"
      >
        COPY REFERRAL TO CLIPBOARD
      </button>
    </div>
  </div>
</div>


<ng-container *ngIf="!(isServiceSuccessfullySubmitted$ | async)">
  <mat-horizontal-stepper healtheStepState [sharedForm]="sharedForm">
    <mat-step *ngFor="let step of subServiceSteps; let i = index">
      <healthe-stepper-step-label
        *matStepLabel
        [step]="step"
        [serviceName]="wizardStepConfig.serviceName"
        [labelClass]="step.labelClass"
        [iconClass]="step.iconClass"
      ></healthe-stepper-step-label>
      <ng-container [ngSwitch]="step.name">
        <healthe-diagnostics-emg
          [locations$]="locations$"
          [stepIndex]="i"
          *ngSwitchCase="emgStepName"
        ></healthe-diagnostics-emg>
        <healthe-diagnostics-ultrasound
          [locations$]="locations$"
          [stepIndex]="i"
          *ngSwitchCase="ultrasoundStepName"
        ></healthe-diagnostics-ultrasound>
        <healthe-diagnostics-xray
          [locations$]="locations$"
          [stepIndex]="i"
          *ngSwitchCase="xRayStepName"
        ></healthe-diagnostics-xray>
        <healthe-diagnostics-ct-scan
          [locations$]="locations$"
          [stepIndex]="i"
          *ngSwitchCase="ctScanStepName"
        ></healthe-diagnostics-ct-scan>
        <healthe-diagnostics-mri
          [locations$]="locations$"
          [stepIndex]="i"
          *ngSwitchCase="mriStepName"
        ></healthe-diagnostics-mri>
        <healthe-diagnostics-other
          [locations$]="locations$"
          [stepIndex]="i"
          *ngSwitchCase="otherStepName"
        ></healthe-diagnostics-other>
        <healthe-diagnostics-vendors-wizard-form
          *ngSwitchCase="wizardStepConfig.vendorsName"
        ></healthe-diagnostics-vendors-wizard-form>
        <healthe-diagnostics-documents
          *ngSwitchCase="wizardStepConfig.documentsName"
        ></healthe-diagnostics-documents>
        <healthe-diagnostics-review-wizard
          [stepperCompleted]="stepperCompleted"
          *ngSwitchCase="wizardStepConfig.reviewName"
        ></healthe-diagnostics-review-wizard>
      </ng-container>
    </mat-step>
  </mat-horizontal-stepper>
  <div class="spacersmall"></div>
  <mat-divider
    class="section-divider"
    style="position: absolute; border-top-width: 2px; left: 20px; right: 20px; width: auto;"
  ></mat-divider>
  <div class="spacersmall"></div>
  <healthe-step-advancer
    (continue)="continue()"
    (previous)="previous()"
    [showContinueButton]="!showCloseButton()"
    [showSubmitButton]="showCloseButton()"
    (submitButtonEvent)="submit()"
    (saveAsDraftEvent)="saveReferralAsDraft()"
    [disableSubmitButton]="isSubmitDisabled()"
  ></healthe-step-advancer>
</ng-container>
