@import 'variables';

.locked-pbm-auth-alert--banner {
  background-color: $warning;
  border-radius: 4px;
  padding: 15px;
  width: 100%;
  height: 50px;

  &_icon {
    font-size: 24px;
  }
}

.unlockButton {
  background-color: $warning;
  color: $gray-1000;
  border: $gray-1000 solid 2px;
}
