/* For use in src/lib/core/theming/_palette.scss */
$healthe-primarypalette01: (
  50: #e0eef9,
  100: #b3d6ef,
  200: #80bae4,
  300: #4d9ed9,
  400: #268ad1,
  500: #0075c9,
  600: #006dc3,
  700: #0062bc,
  800: #0058b5,
  900: #0045a9,
  A100: #d3e2ff,
  A200: #a0c0ff,
  A400: #6d9eff,
  A700: #538dff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);
$healthe-secondarypalette01: (
  50: #e0f6fc,
  100: #b3e8f7,
  200: #80d9f1,
  300: #4dcaeb,
  400: #26bee7,
  500: #00b3e3,
  600: #00ace0,
  700: #00a3dc,
  800: #009ad8,
  900: #008bd0,
  A100: #f8fcff,
  A200: #c5e9ff,
  A400: #92d6ff,
  A700: #79ccff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);
$healthe-warningpalette01: (
  50: #fff8eb,
  100: #ffeecd,
  200: #ffe3ac,
  300: #ffd78a,
  400: #ffcf71,
  500: #ffc658,
  600: #ffc050,
  700: #ffb947,
  800: #ffb13d,
  900: #ffa42d,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffeed9,
  A700: #ffe2bf,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);
$healthe-dangerpalette01: (
  50: #fcedea,
  100: #f9d2cb,
  200: #f5b4a9,
  300: #f09586,
  400: #ed7f6c,
  500: #ea6852,
  600: #e7604b,
  700: #e45541,
  800: #e14b38,
  900: #db3a28,
  A100: #ffffff,
  A200: #ffe8e5,
  A400: #ffb9b3,
  A700: #ffa299,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);
$healthe-infopalette01: (
  50: #edeced,
  100: #d1d1d2,
  200: #b2b2b5,
  300: #939397,
  400: #7c7b80,
  500: #65646a,
  600: #5d5c62,
  700: #535257,
  800: #49484d,
  900: #37363c,
  A100: #ad9bf7,
  A200: #866bf4,
  A400: #572dff,
  A700: #4314ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff
  )
);
