.title-container {
  margin-top: 5px !important;
}

.button-container {
  margin-top: 20px;
  padding: 0;
  margin-bottom: 20px;
  justify-content: flex-end;
}

.active-referral-table-container {
  margin: 10px;
}

.active-referral-table-container .column-word-wrap {
  white-space: normal;
  text-overflow: initial;
}

.pm-extend-button {
  margin: 5px;
}
