@import 'variables';

::ng-deep .mat-dialog-title {
  margin-top: 10px;
}

::ng-deep .drug-info-container .mat-form-field,
.drug-info-container .mat-form-field-wrapper,
.drug-info-container .mat-form-field-flex {
  height: 0 !important;
}

.drug-info-container {
  max-height: inherit;
}

.drug-info-container .drug-param {
  color: $gray-900;
  font-size: 14px;
  margin-top: 6px;
  font-weight: 500;
}

.drug-info-container .disclaimer-note {
  font-size: 12px;
  color: $gray-400;
  font-weight: 500;
}

.drug-primary-info-container {
  padding: 15px;
  background-color: $gray-100;
  margin-bottom: 35px;
}
